/*
Styling for Graphling
Copyright Martin Berlove 2014
11/12/14
*/

body {

background: #f9f9ff;
font-family: “Trebuchet MS”, sans-serif;

}
.node {
width: 50px;
height: 50px;
background: #444;
margin: 10px;
text-align: center;
color: white;
}
#zone {
float: left;
}
#controls {
float: left;
}
#report {
	margin: 20px;
	float: right;
	clear: right;
}
.noshow {
	display: none;
}
#gcanvas {
	background: #fff;
	border-right: 5px inset #000;
}
.gray {
	background: #333;
	color: white;
}
.bar {
	padding: 12px 0px;
}
.full-width {
	width: 100%;
}
.header {
	
}
.footer, #footer {
	font-size: 1.5ex;
}
.centered {
	margin: auto;
	text-align: center;
}
smaller {
	font-size: smaller;
}
#examples {
	background: #667;
	color: #ccc;
}
#settings {
	background: #ccd;
	color: #666;
}
.button-group {
	margin-left: 1%;
	margin-right: 1%;
}